.body{ 
    display:grid;
    grid-template: auto auto auto auto auto;
    grid-template-areas: "aside productos productos productos productos";
    column-gap: 5px;
}

.filtros{
    margin-left: 25px;
    grid-area: aside;
    justify-self: start;
    font-size: 15px;
    max-width: 180px;
    margin-right: 10px;
}

.productos{
    min-width: 100%;
    padding-top:3px;
    grid-area: productos;
    justify-self: start;
    display:grid;
    grid-template: auto /auto;
    grid-template-areas: "ordenar" 
                        "verproductos";
    column-gap: 2px;
 
    
}

.ordenar{
    min-width: 100%;
    padding-top:3px;
    grid-area: ordenar;
    justify-self: end;
    align-self: start;
    text-align: right;
    
}


#preciomin, #preciomax{
    max-width: 55px;
}

.verproductos{
    margin-left:20px;
    margin-top: 20px;
    padding:0px;
    max-width: 100%;
    grid-area: verproductos;
    justify-self: start;
    align-self: start;
    


}

.card{
    max-width: auto;
    max-height: auto;
   margin-left: 10px;
}

.imagenproducto{
    max-width: 180px;
    max-height: 180px;
    min-width: 150px;
    min-height: 180px;
}
.card-body{
    margin-left: 25px;
    
}
